<div class="mainFrame" ng-model="vm">
  <div id="candidateName">{{ vm.candidateName }}</div>
  <div id="candidatePic">
    <img class="responsiveImg" ng-src="{{ candidatePicUrl }}">
  </div>
  <div id="controls">
    <div class="control">
      <img src="app/assets/svg/decline.svg" class="icon" alt="logout">
    </div>
    <div class="control">
      <img src="app/assets/svg/add.svg" class="icon" alt="logout">
    </div>
  </div>
  <div id="pics" >
    <div class="pic" ng-repeat="url in vm.pics">
      <img class="responsiveImg" ng-src="{{ url }}">
    </div>
  </div>
</div>
