<div class="poolFrame" ng-model="vm">
  <div id="candidateName">{{ vm.candidateName }}</div>
  <div id="candidatePic">
    <img class="responsiveImg" ng-src="{{ vm.candidatePicUrl }}">
  </div>
  <div id="controls">
    <div class="control" ng-click="vm.refuseCandidate()">NO</div>
    <div class="control" ng-click="vm.approveCandidate()">YES</div>
  </div>
  <div id="pics" >
    <div class="pic" ng-repeat="url in vm.pics">
      <img class="responsiveImg" ng-src="{{ url }}">
    </div>
  </div>
</div>
