.frame {
  width: 70px;
  height: 70px;
  margin: 2px;
}

.frameCenter {
  display: flex;
  justify-content: center;
}

#candidateName {
  font-size: 3em;
  font-weight: lighter;
  height: 50px; }

@media (min-width: 767px) {
  .frame {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 992px) {}
@media (min-width: 1200px) {}
