.toolbar {
  top: -200px;
  position: fixed;
  z-index: 200;
  background-color: $blackColor;
  width: 100%;
  height: 250px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar.active {
  transform: translateY(200px);
}

.mask {
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile {
  width: 100%;
  height: 180px;
  margin-top: 20px;
  display: flex;
}

#bigProfilePhoto {
  padding-left: 10px;
  width: 30%;
  height: 100%;
}

#profileInfo {
  padding-left: 10px;
  width: 70%;
  height: 100%;
}

#username {
  font-size: 2rem;
  color: $whiteColor;
  text-align: center;
}

#miniProfilePhoto {
  width: 40px;
  height: 40px;
  padding-left: 5px;
  padding-top: 3px;
}

#actionButtons {
  width: 100%;
  height: 50px;
  display: inline-flex;
}

#pulldownButton {
  height: 100%;
  width: 100%;
}

#logoutButton {
  height: 45px;
  width: 45px;
  padding-top: 10px;
}

#filler {
  width: 45px;
}

@media (min-width: 767px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {
  #profile {
    width: 430px;
    height: 200px;
  }

  #bigProfilePhoto {
    padding-left: 0;
    width: 150px;
    height: 150px;
  }

  #profileInfo {
    width: 200px;
    height: 100px;
  }

  #filler {
    width: 0;
  }

}
